/* Your existing CSS */

body {
  font-family: myFont;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f0f0f0;
  color: #000;
  display: flex;
  flex-direction: column;
}

header {
  background: linear-gradient(to right, #b92b27, #1565C0);
  color: #fff;
  text-align: center;
  padding: 10em;
  width: justify;
}

nav {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: right;
  padding: 15px;
}

nav a {
  color: #333;
  text-decoration: none;
  padding: 0.5em 1em;
  margin: 0 10px;
  border-radius: 5px;
  background-color: #fff;
  transition: background-color 0.3s ease;
}

nav a:hover {
  background-color: #007bff;
  color: #fff
}

section {
  padding: 2em;
}

h1 {
  font-size: 3em;
  color: #fff
  margin-bottom: 0.5em;
  font-family: myFirstFont;
  text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
}

h2 {
  font-size: 2em;
  color: #fff;
  font-family: myFirstFont;
}

p {
  font-size: 1.4em;
}

ul {
  font-size: 1.4em;
}

.center-container {
  text-align: center;
}

.arrow-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.copyright {
  background: linear-gradient(to right, #b92b27, #1565C0);
  color: #fff;
  text-align: center;
  padding: 0.1em;
}

.interactive-box {
  display: flex;
  background-color: #333;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.button-container {
  padding: 20px;
  border-right: 2px solid #ddd;
}

.button-container button {
  display: block;
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
  text-align: left;
  cursor: pointer;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
}

.button-container button:hover {
  background-color: #007bff;
}

.text-container {
  padding: 20px;
}

.text-container p {
  display: none;
}

.text-container p.active {
  display: block;
  color: #333;
}

.project {
  background-color:#000000;
  position: relative;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 10;
}

.project:hover .project-image {
    opacity: 1;
}

a {
  text-decoration: none;
  position: relative;
  color: #007bff;
}

a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: linear-gradient(to right, yellow, orange, red);
  position: absolute;
  bottom: 0;
  left: 0;
  transition: width 0.3s ease;
}

a:hover::after {
  width: 100%;
}

#progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: #ddd;
  z-index: 1000;
}

#progress-bar-fill {
  height: 100%;
  width: 0;
  background-color: #007bff;
}

{
  max-width: 600px;
  margin: 2em 2em 2em 5%;
  background-color: #333;
  padding: 2em;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 0.5em;
  font-weight: bold;
}

input,
textarea {
  width: 100%;
  padding: 0.5em;
  margin-bottom: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea {
  height: 100px;
}

button {
  font-family: myFirstFont;
  background-color: #333;
  color: #fff;
  padding: 0.5em 1em;
  border: 2px solid #fff;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  margin-right: 5px;
}

button:hover {
  background-color: #007bff;
}

.intro-container {
  text-align: center;
}

.intro-text {
  margin-bottom: 5px;
  margin-right: 18em;
  font-family: myFirstFont;
}

.name {
  font-size: 5em;
  color: #ffff;
  margin: 0;
  margin-right: 10px;
  font-family: myFirstFont;
}

.role {
  margin-top: 5px;
  margin-left: 15em;
  font-family: myFirstFont;
}

.resumerole {
  margin-top: -20px;
  font-family: myFirstFont;
}

#testimonials {
  padding: 2em;
  background-color: #fcfcfc;
}

.quote-card {
  display: none;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.quote-card p {
  margin: 0;
}

.quote-card .quote-text {
  font-style: italic;
}

.quote-card .quote-author {
  margin-top: 10px;
  text-align: right;
  color: #777;
}

.arrow-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.arrow {
  cursor: pointer;
  font-size: 1.5em;
  color: #3498db;
  transition: color 0.3s ease, trans 0.3s ease;
}

.arrow:hover {
  color: #1e87d0;
  trans: scale(1.2);
}

@font-face {
  font-family: myFirstFont;
  src: url(Fixedsys_Excelsior_3.01_Regular.ttf);
}

@font-face {
  font-family: myFont;
  src: url(NovaSquare-Regular.ttf);
}

#recent-projects {
  margin-top: 40px;
}

h3 {
  color: #fff;
}

.project {
  margin-bottom: 20px;
  background: linear-gradient(to right, #007bff, #ec2F4B);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project h3 {
  font-size: 20px;
  color: #fff;
  margin-bottom: 10px;
}

.project p {
  font-size: 1.3em;
  color: #fff;
}

.project-link {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 16px;
  background-color: #007bff; 
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.project-link:hover {
  background-color: #4773ed;
}

.social-media-icons {
  margin-top: 20px;
}

.social-media-icons a {
  display: inline-block;
  margin-right: 10px;
  color: #007bff;
  text-decoration: none;
  font-size: 34px;
}

.social-media-icons a:hover {
  color: #007bff;
}

.skill-bar {
  margin-bottom: 20px;
}

.skill {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}

.language {
  margin: 0;
  flex: 1;
}

.bar {
  display: block;
  height: 3px;
  width: 25px;
  background-color: white;
  margin: 2.9px 0;
  float: right;
  clear: both;
}

.percentage {
  margin: 0;
}

.quote-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

img {
  max-width: 100%;
  height: auto;
}

.fas {
  color: #fff;
  font-size: 20px;
}

.intro-text,
.name,
.role {
  animation: fadeIn 2.5s ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

audio {
  width: 100%;
  max-width: 300px;
  margin: 20px 0;
}

hr {
  background: var(--main-decor-color);
  margin: 2px;
  height: 3px;
  width: 150px;
  border-radius: 5px;
  border: hidden;
  margin-inline-start: auto;
  margin-inline-end: auto;
}

.bard {
  display: block;
  height: 10px;
  width: 25px;
  background-color: white;
  margin: 0px 0;
}

.menu-toggle {
  display: none;
  cursor: pointer;
}

.resumeheader {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 5em;
}

@media only screen and (max-width: 600px) {
  header {
    padding: 1.5em 0.5em;
  }

  main {
    margin: 1em;
  }

  h2 {
    font-size: 1.2em;
  }

  p {
    font-size: 0.9em;
  }

  img {
    padding: 0.5em;
    border: 0px solid #7512ff;
  }

  .fade-in {
    opacity: 0;
    trans: translateY(20px);
    transition: opacity 0.8s ease, trans 0.8s ease;
  }

  .fade-in.active {
    opacity: 1;
    trans: translateY(0);
  }

  nav {
    display: none;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #fff;
  }

  nav.show {
    display: flex;
  }

  .menu-toggle {
    display: block;
  }
}

/* New form section */
.container {
  max-width: 600px;
  margin: 2em 2em 2em 5%;
  background-color: #333;
  padding: 2em;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 0.5em;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 0.5em;
  margin-bottom: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea {
  height: 100px;
}

button {
  background-color: #2980b9;
  color: white;
  padding: 0.5em 1em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.1em;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #3498db;
}

.error-message {
  color: #e74c3c;
  font-size: 0.9em;
  margin-top: -0.5em;
  margin-bottom: 1em;
}

input.error {
  border-color: #e74c3c;
}

.success-message {
  color: #2ecc71;
  font-size: 1.2em;
  margin-bottom: 1em;
}
.image-container {
    width: 300px; /* Set a fixed width (height will be automatically adjusted) */
    height: 300px; /* Make the container square */
    position: relative; /* Position context for the shadow */
    overflow: hidden; /* Ensure the image doesn't overflow */
    border: 5px solid #333; /* Create the frame around the image */
    padding: 5px; /* Optional: Add space between the image and the frame */
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3); /* Add a subtle shadow */
    border-radius: 8px; /* Optional: Round the corners of the frame */
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the entire container while maintaining aspect ratio */
    display: block; /* Prevents any extra space at the bottom of the image */
    border-radius: 4px; /* Optional: Round the corners of the image inside the frame */
}
